.App .content {
  margin-top: 2em;
}

.App .left-menu,
.App .right-menu {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.App .left-menu {
  width: 32%;
}

.App .right-menu {
  width: 68%;
}

.App .loading-row {
  min-height: 162px;
}

@media (max-width: 768px) {
  .App .Box {
    margin-bottom: 30px;
  }

  .App .left-menu,
  .App .right-menu {
    width: 90%;
    margin-left: 5%;
  }
}
